In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
store_data = pd.read_csv(r'C:\Data Analysis - Files\Project 5 - Superstore\Sample-Superstore.csv', sep=',', encoding='latin1', on_bad_lines='skip')
store_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [27]:
## Monetary (amount of money spent), Frequency (how frequently the customer bought something) 
# Recency (how many days has passed from today to their last purchase).

store_data_Monetary = store_data.groupby('Customer ID', as_index=False) ['Sales'].sum()

store_data_Monetary.head()

  Customer ID     Sales
0    AA-10315  5563.560
1    AA-10375  1056.390
2    AA-10480  1790.512
3    AA-10645  5086.935
4    AB-10015   886.156

In [28]:
store_data_Frequency = store_data.groupby('Customer ID', as_index=False) ['Order ID'].count()
store_data_Frequency.head()

  Customer ID  Order ID
0    AA-10315        11
1    AA-10375        15
2    AA-10480        12
3    AA-10645        18
4    AB-10015         6

In [42]:
# change date time type

store_data['Order Date'] = pd.to_datetime(store_data['Order Date'])

# get most recent order date
store_data_Recency = store_data.groupby('Customer ID', as_index=False) ['Order Date'].max()

# get todays date

today = pd.to_datetime('2017-12-30')

print (today)

# days since last purchase

store_data_Recency['Recency'] = (today - store_data_Recency['Order Date']).dt.days

store_data_Recency.head()

2017-12-30 00:00:00

  Customer ID Order Date  Recency
0    AA-10315 2017-06-29      184
1    AA-10375 2017-12-11       19
2    AA-10480 2017-04-15      259
3    AA-10645 2017-11-05       55
4    AB-10015 2016-11-10      415

In [30]:
# Merge the first two DataFrames
merged_df = pd.merge(store_data_Monetary, store_data_Frequency, how='left', on='Customer ID')

# Merge the result with the third DataFrame
New_df = pd.merge(merged_df, store_data_Recency, how='left', on='Customer ID')

New_df = New_df.rename (columns={'Sales': 'Amount','Order ID': 'Frequency'})

New_df = New_df.drop(columns=['Order Date'])

New_df.head()

  Customer ID    Amount  Frequency  Recency
0    AA-10315  5563.560         11     2763
1    AA-10375  1056.390         15     2598
2    AA-10480  1790.512         12     2838
3    AA-10645  5086.935         18     2634
4    AB-10015   886.156          6     2994